{% extends 'base.html' %}
{% load static %}{% load utilidades %}
{% block extra_head %}<title>BESTOFF - Oportunidades Inmobiliarias para todos.</title> 
{% endblock extra_head %}
{% block extra_navbar %} {% include 'componentes/navbar.html' %} {% endblock extra_navbar %}
{% block content %}


<!--Formulario d Búsqueda-->
<div class='busqueda max-w-6xl mx-auto rounded-xl px-5 py-4 bg-red-800/60 mt-7'>
  <div class="text-white">
    <h3 class='text-xl sm:text-3xl'>Busca Inversiones Inmobiliarias como nunca antes lo habías hecho.</h3>
  </div>
    <!--Formulario de Búsqueda Alternativo-->
    <div>
      <form name="form_buscar" method="post" action="{{ request.get_full_path }} ">
        {% csrf_token %}
        <div class="grid grid-cols-12 mt-5">
          {{formulario_buscar.comuna}}
          {{formulario_buscar.contrato_vigente}} <label for="id_contrato_vigente" class="col-span-12 lg:col-span-4 rounded-md my-2 p-2.5">&nbsp&nbspContrato Arriendo Vigente</label>
          <button type="button" onclick="buscador();" id="boton-busqueda-portada" class=" boton-busqueda-portada col-span-12 lg:col-span-1 ml-1 my-2 flex top-0 right-0 p-2.5 text-sm sm:text-base font-medium text-white rounded-md border border-orange-700">
            <span class="pl-1">Buscar</span>
          </button>
        </div>
      </form>
    </div>
  
</div>

<!-- Titulo de la página   -->
<div class="my-4 max-w-4xl mx-2 sm:mx-auto">
  <h1 class="sm:text-lg text-lg font-medium title-font mb-4 text-gray-900">Resultado para: 
    <span class="text-red-400  font-bold">{{Comuna}}</span>
  </h1>
</div>
<!-- GRid de REsultados -->
<div class="grid gap-2 grid-cols-1 sm:grid-cols-3 my-4 max-w-4xl mx-2 sm:mx-auto">
  {% for propiedad in propiedades %}
  <div class="static rounded-2xl">
      <div class="relative pb-1 overflow-hidden rounded-t-lg">
        <div id="z-10 controls-carousel" class="relative" data-carousel="static">
            <!-- Carousel wrapper -->
            <div class="relative h-56 overflow-hidden">
              {% for image in images  %}
                {% if image.id_propiedades.id == propiedad.id %}
                    <div class="hidden duration-700 ease-in-out" data-carousel-item>
                      <img src="{{ image.image.url }}" class="absolute block w-full sm:h-full sm:w-auto  -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
                    </div>
                {% endif %}
              {% endfor %}
              <!-- Slider controls -->
            <button type="button" class="absolute top-0 left-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-prev>
              <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                  <svg aria-hidden="true" class="w-6 h-6 text-white dark:text-gray-800" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path></svg>
                  <span class="sr-only">Previous</span>
              </span>
            </button>
            <button type="button" class="absolute top-0 right-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-next>
              <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                <svg aria-hidden="true" class="w-6 h-6 text-white dark:text-gray-800" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path></svg>
                  <span class="sr-only">Next</span>
              </span>
            </button>
          </div>
        </div>
      </div>
      <!--Los IF de los -->
      <a href="../detalles/0/{{propiedad.id}}/{{propiedad.comuna.comuna.split|join:"-"}}-{{propiedad.direccion.split|join:"-"}}" class="c-card block bg-white shadow-md hover:shadow-xl rounded-lg overflow-hidden">  
        {% if propiedad.propiedad_bancaria == True %}
        <div class="">
          <div class="flex py-1 detalle-rentabilidad  rounded-md border-solid border-slate-100 min-w-sm gallery-item-detalle">
            <svg class="mx-4" height="18" width="18">
              <circle cx="9" cy="9" r="5" stroke="green" stroke-width="0" fill="green" />
            </svg>  
            <p class="text-sm">Propiedad Bancaria</p>
          </div>
        </div>
        {% endif %}
        {% if rentabilidades.0|accede_diccionario:propiedad.id > 0 %}
        <div class="">
          <div class="flex py-1 detalle-rentabilidad  rounded-md border-solid border-slate-100 min-w-sm gallery-item-detalle">
            <svg class="mx-4" height="18" width="18">
              <circle cx="9" cy="9" r="5" stroke="green" stroke-width="0" fill="green" />
            </svg>  
            <p class="text-sm">UF + {{rentabilidades.0|accede_diccionario:propiedad.id}} % Rent. Anual</p>
          </div>
        </div>
        {% endif %}
        {% if plusvalias.0|accede_diccionario:propiedad.id > 0 %}
        <div class="">
          <div class="flex py-1 detalle-rentabilidad  rounded-md border-solid border-slate-100 min-w-sm gallery-item-detalle">
            <svg class="mx-4" height="18" width="18">
              <circle cx="9" cy="9" r="5" stroke="green" stroke-width="0" fill="green" />
            </svg> 
            <p class="text-sm">{{plusvalias.0|accede_diccionario:propiedad.id}} % de plusvalía inmediata</p>
          </div>
        </div>
        {% endif %}      
        <div class="py-1 px-4">
          <h3 class="mt-0 mb-2 text-2xl font-bold">{{propiedad.comuna.comuna|upper}}</h2>
        </div>
        <div class="p-2 border-t border-b text-xs text-gray-700">
          <div class="flex justify-between">
                <div> <span class="text-sm font-semibold">UF </span>&nbsp;<span class="font-bold text-3xl">{{propiedad.precio|numberFormat}}</span></div>
                <button type="submit" class="text-white right-2 bottom-2 bg-orange-700 hover:bg-orange-800 focus:ring-4 focus:outline-none focus:ring-orange-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-orange-600 dark:hover:bg-orange-700 dark:focus:ring-orange-800">Me interesa</button>
          </div>       
        </div>
      </a>
    </div>
  {% endfor %}
</div>





{% endblock content %}
{% block extra_footer %} {% endblock extra_footer %}
{% block scripts %} <script src="https://unpkg.com/flowbite@1.4.0/dist/flowbite.js"></script>{% endblock scripts %}