{% extends 'base.html' %}
{% load static %}{% load utilidades %}
{% block title%}  {% endblock title%}
{% block extra_navbar %} {% include 'componentes/navbar.html' %} {% endblock extra_navbar %}
{% block content %}


<!--Formulario d Búsqueda-->
<div class='busqueda max-w-6xl mx-auto rounded-xl px-5 py-4 bg-red-800/60 mt-7'>
  <div class="text-white">
    <h3 class='text-xl sm:text-3xl'>Busca Inversiones Inmobiliarias como nunca antes lo habías hecho.</h3>
  </div>

  <form class='my-4' action="" method="GET">
    
    <div class="grid grid-cols-12 mt-5">

      <input type="text" name="Comuna" id="Comuna" class="col-span-12 lg:col-span-3 mr-1 my-2 rounded-md bg-gray-50 border border-gray-300 text-gray-900 text-sm sm:text-base focus:ring-orange-500 focus:border-orange-500 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-orange-500 dark:focus:border-orange-500" placeholder=" Ingrese la Comuna..."/>


      <select name="precio" id="precio" class="col-span-6 lg:col-span-2 mx-1 my-2 rounded-md bg-gray-50 border border-gray-300 text-gray-900 text-sm sm:text-base focus:ring-orange-500 focus:border-orange-500 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-orange-500 dark:focus:border-orange-500">
        <option value="10000000" selected="selected">Precio Máx $</option> 
        <option value="2000">2.000 UF</option>
        <option value="2500">2.500 UF</option>
        <option value="3000">3.000 UF</option>
        <option value="3500">3.500 UF</option>
        <option value="4000">4.000 UF</option>
        <option value="5000">5.000 UF</option>
        <option value="7500">7.500 UF</option>
        <option value="10000">10.000 UF</option>
        <option value="15000">15.000 UF</option>
        <option value="10000000">Sin Máximo</option>  
      </select>

      <select name="rentabilidad" id="rentabilidad" class="col-span-6 lg:col-span-2 mx-1 my-2 rounded-md bg-gray-50 border border-gray-300 text-gray-900 text-sm sm:text-base focus:ring-orange-500 focus:border-orange-500 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-orange-500 dark:focus:border-orange-500">
        <option value="0" selected="selected">Rent. Anual Mín %</option> 
        <option value="1">1 %</option>
        <option value="2">2 %</option>
        <option value="3">3 %</option>
        <option value="4">4 %</option>
        <option value="5">5 %</option>
        <option value="6">6 %</option>
        <option value="7">7 %</option>
        <option value="8">8 %</option>
        <option value="9">9 %</option>
        <option value="10">10 %</option>
      </select>
      
      <select name="plusvalia" id="plusvalia" class="col-span-6 lg:col-span-2 mx-1 my-2 rounded-md bg-gray-50 border border-gray-300 text-gray-900 text-sm sm:text-base focus:ring-orange-500 focus:border-orange-500 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-orange-500 dark:focus:border-orange-500">
        <option value="0" selected="selected">Plusvalía Mín %</option> 
        <option value="5">5 %</option>
        <option value="10">10 %</option>
        <option value="15">15 %</option>
        <option value="20">20 %</option>
        <option value="25">25 %</option>
        <option value="30">30 %</option>
        <option value="35">35 %</option>
        <option value="40">40 %</option>
        <option value="45">45 %</option>
        <option value="50">Más de 50 %</option>
      </select>

      <select name="bancaria" id="bancaria" class="col-span-6 lg:col-span-2 mx-1 my-2 rounded-md bg-gray-50 border border-gray-300 text-gray-900 text-sm sm:text-base focus:ring-orange-500 focus:border-orange-500 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-orange-500 dark:focus:border-orange-500">
        <option value="False" selected="selected">No Bancaria</option> 
        <option value="True">Propiedad Bancaria</option>
      </select>

      <button type="button" onclick="buscador();" id="boton-busqueda-portada" class=" boton-busqueda-portada col-span-12 lg:col-span-1 ml-1 my-2 flex top-0 right-0 p-2.5 text-sm sm:text-base font-medium text-white rounded-md border border-orange-700">
        <span class="pl-1">Buscar</span>
      </button>
    </div>
  </form>
</div>

<!-- Titulo de la página   -->
<div class="my-4 max-w-4xl mx-2 sm:mx-auto">
  <h1 class="sm:text-lg text-lg font-medium title-font mb-4 text-gray-900">Resultado para: 
    <span class="text-red-400  font-bold">{% if bancaria == 'True' %}Propiedad Bancaria{%else%}Porpiedad No Bancaria{%endif%}</span>
    {% if precio_max|floatformat:"0" < "10000000" %}de <span class="text-red-400  font-bold">Precio Máx. {{precio_max|numberFormat}} UF </span>{%endif%}
    en <span class="text-red-400 font-bold">{{Comuna|capfirst}}</span>
    {% if rentabilidad|floatformat:"0" > "0" %} con <span class="text-red-400 font-bold">Rentabilidad mayor o igual a {{rentabilidad}},0%</span> {%endif%}
    {% if plusvalia|floatformat:"0" > "0" %}y con <span class="text-red-400 font-bold">Plusvalía mayor o igual a {{plusvalia}},0%</span>{%endif%}.
  </h1>
</div>
<!-- GRid de REsultados -->
<div class="grid gap-2 grid-cols-1 sm:grid-cols-3 my-4 max-w-4xl mx-2 sm:mx-auto">
  {% for propiedad in propiedades %}
  {% if rentabilidades.0|accede_diccionario:propiedad.id|floatformat:"-1" >= rentabilidad|floatformat:"-1" %}
  {% if plusvalias.0|accede_diccionario:propiedad.id|floatformat:"-1" >= plusvalia|floatformat:"-1" %}
  {% if propiedad.propiedad_bancaria|yesno:"True,False,none" == bancaria %}
  <div class="static rounded-2xl">
      <div class="relative pb-1 overflow-hidden rounded-t-lg">
        <div id="z-10 controls-carousel" class="relative" data-carousel="static">
            <!-- Carousel wrapper -->
            <div class="relative h-56 overflow-hidden">
              {% for image in images  %}
                {% if image.id_propiedades.id == propiedad.id %}
                    <div class="hidden duration-700 ease-in-out" data-carousel-item>
                      <img src="{{ image.image.url }}" class="absolute block w-full sm:h-full sm:w-auto  -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
                    </div>
                {% endif %}
              {% endfor %}
              <!-- Slider controls -->
            <button type="button" class="absolute top-0 left-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-prev>
              <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                  <svg aria-hidden="true" class="w-6 h-6 text-white dark:text-gray-800" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path></svg>
                  <span class="sr-only">Previous</span>
              </span>
            </button>
            <button type="button" class="absolute top-0 right-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-next>
              <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                <svg aria-hidden="true" class="w-6 h-6 text-white dark:text-gray-800" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path></svg>
                  <span class="sr-only">Next</span>
              </span>
            </button>
          </div>
        </div>
      </div>
      <!--Los IF de los -->
      {% if propiedad.propiedad_bancaria == True %}
      <div class="">
        <div class="flex py-1 detalle-rentabilidad  rounded-md border-solid border-slate-100 min-w-sm gallery-item-detalle">
          <svg class="mx-4" height="18" width="18">
            <circle cx="9" cy="9" r="5" stroke="green" stroke-width="0" fill="green" />
          </svg>  
          <p class="text-sm">Propiedad Bancaria</p>
        </div>
      </div>
      {% endif %}
      {% if rentabilidades.0|accede_diccionario:propiedad.id > 0 %}
      <div class="">
        <div class="flex py-1 detalle-rentabilidad  rounded-md border-solid border-slate-100 min-w-sm gallery-item-detalle">
          <svg class="mx-4" height="18" width="18">
            <circle cx="9" cy="9" r="5" stroke="green" stroke-width="0" fill="green" />
          </svg>  
          <p class="text-sm">UF + {{rentabilidades.0|accede_diccionario:propiedad.id}} % Rent. Anual</p>
        </div>
      </div>
      {% endif %}
      {% if plusvalias.0|accede_diccionario:propiedad.id > 0 %}
      <div class="">
        <div class="flex py-1 detalle-rentabilidad  rounded-md border-solid border-slate-100 min-w-sm gallery-item-detalle">
          <svg class="mx-4" height="18" width="18">
            <circle cx="9" cy="9" r="5" stroke="green" stroke-width="0" fill="green" />
          </svg> 
          <p class="text-sm">{{plusvalias.0|accede_diccionario:propiedad.id}} % de plusvalía inmediata</p>
        </div>
      </div>
      {% endif %}
      <a href="propiedades/detalles/{{propiedad.id}}/{{propiedad.comuna.comuna.split|join:"-"}}-{{propiedad.direccion.split|join:"-"}}" class="c-card block bg-white shadow-md hover:shadow-xl rounded-lg overflow-hidden">  
        <div class="p-4">
          <p class="text-xs text-gray-400">Ofertado por Donetch & Cía.</p>
          <h3 class="mt-0 mb-2 text-2xl sm:text-sm font-bold">{{propiedad.comuna.comuna|upper}}</h2>
        </div>
        <div class="p-2 border-t border-b text-xs text-gray-700">
          <div class="flex justify-between">
                <div> <span class="text-sm font-semibold">UF </span>&nbsp;<span class="font-bold text-3xl">{{propiedad.precio|numberFormat}}</span></div>
                <button type="submit" class="text-white right-2 bottom-2 bg-orange-700 hover:bg-orange-800 focus:ring-4 focus:outline-none focus:ring-orange-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-orange-600 dark:hover:bg-orange-700 dark:focus:ring-orange-800">Me interesa</button>
          </div>       
        </div>
      </a>
    </div>
    {% endif %}
    {% endif %}
    {% endif %}
  {% endfor %}
</div>





{% endblock content %}
{% block extra_footer %} {% endblock extra_footer %}
{% block scripts %} <script src="https://unpkg.com/flowbite@1.4.0/dist/flowbite.js"></script>{% endblock scripts %}