<!--<form class='my-4' action="" method="GET">
    <div class="grid grid-cols-12 mt-5">
      <input type="text" name="Comuna" id="Comuna" class="col-span-12 lg:col-span-5 mr-1 my-2 rounded-md bg-gray-50 border border-gray-300 text-gray-900 text-sm sm:text-base focus:ring-orange-500 focus:border-orange-500 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-orange-500 dark:focus:border-orange-500" placeholder=" Ingresa la Comuna..."/>
      <select name="precio" id="precio" class="col-span-12 lg:col-span-2 mx-1 my-2 rounded-md bg-gray-50 border border-gray-300 text-gray-900 text-sm sm:text-base focus:ring-orange-500 focus:border-orange-500 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-orange-500 dark:focus:border-orange-500">
        <option value="10000000" selected="selected">Precio Máx $</option> 
        <option value="2000">2.000 UF</option>
        <option value="2500">2.500 UF</option>
        <option value="3000">3.000 UF</option>
        <option value="3500">3.500 UF</option>
        <option value="4000">4.000 UF</option>
        <option value="5000">5.000 UF</option>
        <option value="7500">7.500 UF</option>
        <option value="10000">10.000 UF</option>
        <option value="15000">15.000 UF</option>
        <option value="10000000">Sin Máximo</option>  
      </select>
      <select name="rentabilidad" id="rentabilidad" class="col-span-6 lg:col-span-2 mx-1 my-2 rounded-md bg-gray-50 border border-gray-300 text-gray-900 text-sm sm:text-base focus:ring-orange-500 focus:border-orange-500 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-orange-500 dark:focus:border-orange-500">
        <option value="0" selected="selected">Rent. Anual Mín %</option> 
        <option value="1">1 %</option>
        <option value="2">2 %</option>
        <option value="3">3 %</option>
        <option value="4">4 %</option>
        <option value="5">5 %</option>
        <option value="6">6 %</option>
        <option value="7">7 %</option>
        <option value="8">8 %</option>
        <option value="9">9 %</option>
        <option value="10">10 %</option>
      </select>
      <select name="plusvalia" id="plusvalia" class="col-span-6 lg:col-span-2 mx-1 my-2 rounded-md bg-gray-50 border border-gray-300 text-gray-900 text-sm sm:text-base focus:ring-orange-500 focus:border-orange-500 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-orange-500 dark:focus:border-orange-500">
        <option value="0" selected="selected">Plusvalía Mín %</option> 
        <option value="5">5 %</option>
        <option value="10">10 %</option>
        <option value="15">15 %</option>
        <option value="20">20 %</option>
        <option value="25">25 %</option>
        <option value="30">30 %</option>
        <option value="35">35 %</option>
        <option value="40">40 %</option>
        <option value="45">45 %</option>
        <option value="50">Más de 50 %</option>
      </select>
      <button type="button" onclick="buscador();" id="boton-busqueda-portada" class=" boton-busqueda-portada col-span-12 lg:col-span-1 ml-1 my-2 flex top-0 right-0 p-2.5 text-sm sm:text-base font-medium text-white rounded-md border border-orange-700">
        <span class="pl-1">Buscar</span>
      </button>
    </div>
  </form>-->