{% extends 'base.html' %}
{% load static %}{% load utilidades %}
{% block title %}  {% endblock title %}

{% block extra_head %}<title>BESTOFF - Oportunidades Inmobiliarias para todos.</title> {% endblock extra_head %}

{% block content %} 
<!--Navbar de Portada-->
<div class='show_bg' style="background-image: linear-gradient(to top, rgb(255, 255, 255, 1) 0%, rgba(255, 86, 39, 0.8) 70%,rgba(255, 86, 39, .95) 80%, rgba(255, 86, 39, 1) 100%),  url('{% static "imagenes/bg_portada.jpg" %}');">
  <div class="flex items-center justify-between">
    <div>
        <a  href="/">
        <img src="{% static "imagenes/Logo_1.png" %}" class="h-12" alt="Bestoff Logo"></a>
    </div>
    <div class="flex">
      <!--<div class="mx-2">
        <button id="" class="flex text-white">
          <p class="mx-1 font-semibold text-lg">Invertir</p>
          <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24" fill="none">
              <path d="M4 9L12 17L20 9" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </button>
      </div>-->
      <a href="/vender"><div class="mx-2">
        <button id="open-modal-vende" class="flex text-white">
          <p class="mx-1 font-semibold text-lg">Vender</p>
          <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24" fill="none">
              <path d="M4 9L12 17L20 9" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </button>
      </div></a>
    </div>
  </div>
  
  <!---->
  <div class='grid grid-cols-5 max-w-6xl mx-auto mt-1 sm:mt-5'>
    <div class='col-span-5 lg:col-span-3'>
        <h1 class="text-slate-600 text-2xl sm:text-6xl font-bold mt-2 sm:mt-5 text-left">Inversión Inmobiliaria 100% Online</h1>
    </div>
  <div class='col-span-0 lg:col-span-2'>
  </div>
  <div class='col-span-5 lg:col-span-2'>
    <h2 class="text-slate-600 text-xl sm:text-3xl mt-5">Encuentra las mejores oportunidades antes que el resto.</h2>
  </div>
  <div class='col-span-0 lg:col-span-3'>
  </div>
</div>
<!--Formulario d Búsqueda-->
<div class='busqueda max-w-6xl mx-auto rounded-xl px-5 py-4 bg-red-800/60 mt-7'>
  <div class="text-white">
    <h3 class='text-xl sm:text-3xl'>Busca Inversiones Inmobiliarias como nunca antes lo habías hecho.</h3>
  </div>

  <form class='my-4' action="" method="GET">
    
    <div class="grid grid-cols-12 mt-5">

      <input type="text" name="Comuna" id="Comuna" class="col-span-12 lg:col-span-3 mr-1 my-2 rounded-md bg-gray-50 border border-gray-300 text-gray-900 text-sm sm:text-base focus:ring-orange-500 focus:border-orange-500 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-orange-500 dark:focus:border-orange-500" placeholder=" Ingrese la Comuna..."/>


      <select name="precio" id="precio" class="col-span-6 lg:col-span-2 mx-1 my-2 rounded-md bg-gray-50 border border-gray-300 text-gray-900 text-sm sm:text-base focus:ring-orange-500 focus:border-orange-500 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-orange-500 dark:focus:border-orange-500">
        <option value="10000000" selected="selected">Precio Máx $</option> 
        <option value="2000">2.000 UF</option>
        <option value="2500">2.500 UF</option>
        <option value="3000">3.000 UF</option>
        <option value="3500">3.500 UF</option>
        <option value="4000">4.000 UF</option>
        <option value="5000">5.000 UF</option>
        <option value="7500">7.500 UF</option>
        <option value="10000">10.000 UF</option>
        <option value="15000">15.000 UF</option>
        <option value="10000000">Sin Máximo</option>  
      </select>

      <select name="rentabilidad" id="rentabilidad" class="col-span-6 lg:col-span-2 mx-1 my-2 rounded-md bg-gray-50 border border-gray-300 text-gray-900 text-sm sm:text-base focus:ring-orange-500 focus:border-orange-500 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-orange-500 dark:focus:border-orange-500">
        <option value="0" selected="selected">Rent. Anual Mín %</option> 
        <option value="1">1 %</option>
        <option value="2">2 %</option>
        <option value="3">3 %</option>
        <option value="4">4 %</option>
        <option value="5">5 %</option>
        <option value="6">6 %</option>
        <option value="7">7 %</option>
        <option value="8">8 %</option>
        <option value="9">9 %</option>
        <option value="10">10 %</option>
      </select>
      
      <select name="plusvalia" id="plusvalia" class="col-span-6 lg:col-span-2 mx-1 my-2 rounded-md bg-gray-50 border border-gray-300 text-gray-900 text-sm sm:text-base focus:ring-orange-500 focus:border-orange-500 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-orange-500 dark:focus:border-orange-500">
        <option value="0" selected="selected">Plusvalía Mín %</option> 
        <option value="5">5 %</option>
        <option value="10">10 %</option>
        <option value="15">15 %</option>
        <option value="20">20 %</option>
        <option value="25">25 %</option>
        <option value="30">30 %</option>
        <option value="35">35 %</option>
        <option value="40">40 %</option>
        <option value="45">45 %</option>
        <option value="50">Más de 50 %</option>
      </select>

      <select name="bancaria" id="bancaria" class="col-span-6 lg:col-span-2 mx-1 my-2 rounded-md bg-gray-50 border border-gray-300 text-gray-900 text-sm sm:text-base focus:ring-orange-500 focus:border-orange-500 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-orange-500 dark:focus:border-orange-500">
        <option value="False" selected="selected">No Bancaria</option> 
        <option value="True">Propiedad Bancaria</option>
      </select>

      <button type="button" onclick="buscador();" id="boton-busqueda-portada" class=" boton-busqueda-portada col-span-12 lg:col-span-1 ml-1 my-2 flex top-0 right-0 p-2.5 text-sm sm:text-base font-medium text-white rounded-md border border-orange-700">
        <span class="pl-1">Buscar</span>
      </button>
    </div>
  </form>
</div>

<!--GRID DE PROPIEDADES CON ALTA RENTABILIDAD-->
<!-- Título de Grid de Propiedades con Excelente Rentabilidad-->
<div class='grid grid-cols-5 max-w-6xl mx-auto mt-1 sm:mt-5'>
  <div class='col-span-5'>
    <h2 class="text-slate-600 text-xl sm:text-3xl font-bold mt-2 sm:mt-5 text-left">Propiedades con Contrato de Arriendo Vigente:</h1>
    <h3 class="text-slate-600 text-lg sm:text-xl mt-5">Recibe rentas desde el primer día.</h2>
  </div>
</div>

<!--Grid de Propiedades con Excelente Rentabilidad-->
<div class="grid gap-2 grid-cols-1 sm:grid-cols-3 my-4 max-w-4xl mx-2 sm:mx-auto">
  {% for propiedad in propiedades %}
  {% if rentabilidades.0|accede_diccionario:propiedad.id > 2.5 %}
    <div class="static rounded-2xl">
      <div class="relative pb-1 overflow-hidden rounded-t-lg">
        <div id="controls-carousel" class="relative" data-carousel="static">
            <!-- Carousel wrapper -->
            <div class="relative h-56 overflow-hidden">
              {% for image in images  %}
                {% if image.id_propiedades.id == propiedad.id %}
                    <div class="hidden duration-700 ease-in-out" data-carousel-item>
                      <img src="{{ image.image.url }}" class="absolute block h-full w-auto  -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
                    </div>
                {% endif %}
              {% endfor %}
              <!-- Slider controls -->
            <button type="button" class="absolute top-0 left-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-prev>
              <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                  <svg aria-hidden="true" class="w-6 h-6 text-white dark:text-gray-800" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path></svg>
                  <span class="sr-only">Previous</span>
              </span>
            </button>
            <button type="button" class="absolute top-0 right-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-next>
              <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                <svg aria-hidden="true" class="w-6 h-6 text-white dark:text-gray-800" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path></svg>
                  <span class="sr-only">Next</span>
              </span>
            </button>
          </div>
        </div>
      </div>
      <!--Los IF de los -->
      <a href="propiedades/detalles/0/{{propiedad.id}}/{{propiedad.comuna.comuna.split|join:"-"}}-{{propiedad.direccion.split|join:"-"}}" class="c-card block bg-white shadow-md hover:shadow-xl rounded-lg overflow-hidden">  
        {% if propiedad.propiedad_bancaria == True %}
        <div class="">
          <div class="flex py-1 detalle-rentabilidad  rounded-md border-solid border-slate-100 min-w-sm gallery-item-detalle">
            <svg class="mx-4" height="18" width="18">
              <circle cx="9" cy="9" r="5" stroke="green" stroke-width="0" fill="green" />
            </svg>  
            <p class="text-sm">Propiedad Bancaria</p>
          </div>
        </div>
        {% endif %}
        {% if rentabilidades.0|accede_diccionario:propiedad.id > 0 %}
        <div class="">
          <div class="flex py-1 detalle-rentabilidad  rounded-md border-solid border-slate-100 min-w-sm gallery-item-detalle">
            <svg class="mx-4" height="18" width="18">
              <circle cx="9" cy="9" r="5" stroke="green" stroke-width="0" fill="green" />
            </svg>  
            <p class="text-sm">Contrato de Arriendo Vigente.</p>
          </div>
        </div>
        {% endif %}
        {% if rentabilidades.0|accede_diccionario:propiedad.id > 0 %}
        <div class="">
          <div class="flex py-1 detalle-rentabilidad  rounded-md border-solid border-slate-100 min-w-sm gallery-item-detalle">
            <svg class="mx-4" height="18" width="18">
              <circle cx="9" cy="9" r="5" stroke="green" stroke-width="0" fill="green" />
            </svg>  
            <p class="text-sm">UF + {{rentabilidades.0|accede_diccionario:propiedad.id}} % Rent. Anual</p>
          </div>
        </div>
        {% endif %}
        {% if plusvalia.0|accede_diccionario:propiedad.id > 5 %}
        <div class="">
          <div class="flex py-1 detalle-rentabilidad  rounded-md border-solid border-slate-100 min-w-sm gallery-item-detalle">
            <svg class="mx-4" height="18" width="18">
              <circle cx="9" cy="9" r="5" stroke="green" stroke-width="0" fill="green" />
            </svg> 
            <p class="text-sm">{{plusvalia.0|accede_diccionario:propiedad.id}} % de plusvalía inmediata</p>
          </div>
        </div>
        {% endif %}      
        <div class="py-1 px-4">
          <p class="text-xs text-gray-400">Ofertado por Donetch & Cía.</p>
          <h3 class="mt-0 mb-2 text-2xl font-bold">{{propiedad.comuna.comuna|upper}}</h2>
        </div>
        <div class="p-2 border-t border-b text-xs text-gray-700">
          <div class="flex justify-between">
                <div> <span class="text-sm font-semibold">UF </span>&nbsp;<span class="font-bold text-3xl">{{propiedad.precio|numberFormat}}</span></div>
                <button type="submit" class="text-white right-2 bottom-2 bg-orange-700 hover:bg-orange-800 focus:ring-4 focus:outline-none focus:ring-orange-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-orange-600 dark:hover:bg-orange-700 dark:focus:ring-orange-800">Me interesa</button>
          </div>       
        </div>
      </a>
    </div>
    {% endif %}
  {% endfor %}
</div>

<!-- Banner de Tarjeta  -->
<div class="max-w-6xl mx-auto rounded-xl mt-5 grid grid-cols-12">

  <div class='col-span-12 sm:col-span-6'>
    <div class='h-32' style="background-image: linear-gradient(to right, rgb(255, 255, 255, 0) 5%, rgba(255, 86, 39, 0.4) 30%,rgba(255, 86, 39, .80) 80%, rgba(255, 86, 39, 1) 100%),  url('{% static "imagenes/banner_tarjeta.jpg" %}');">
      <div class=""><p class="sm:hidden pt-5 mr-4 text-white text-4xl text-right font-semibold"> Paga el Pie con Tarjeta de Crédito</p></div>
    </div>
  </div>
  <div class="hidden sm:block sm:col-span-6 h-full" style="background: rgba(255, 86, 39);">
    <div class="mt-2"><p class="my-auto pr-20 text-white text-3xl sm:text-4xl lg:text-5xl text-right font-semibold"> Paga el Pie con Tarjeta de Crédito</p></div>
  </div>
</div>

<!--GRID DE PROPIEDADES BANCARIAS-->
<!-- Título de Grid de Propiedades Bancarias-->
<div class='grid grid-cols-5 max-w-6xl mx-auto mt-1 sm:mt-5'>
  <div class='col-span-5'>
    <h2 class="text-slate-600 text-xl sm:text-3xl font-bold mt-2 sm:mt-5 text-left">Propiedades Bancarias</h1>
    <h3 class="text-slate-600 text-lg sm:text-xl mt-5">Encuentra Oportunidades Inmobiliarias con Plusvalía Inmediata.</h2>
  </div>
</div>
<!--Grid de Propiedades Bancarias-->
<div class="grid gap-2 grid-cols-1 sm:grid-cols-3 my-4 max-w-4xl mx-2 sm:mx-auto">
  {% for propiedad in propiedades %}
  {% if propiedad.propiedad_bancaria == True %}
  <div class="static rounded-2xl">
    <div class="relative pb-1 overflow-hidden rounded-t-lg">
      <div id="controls-carousel" class="relative" data-carousel="static">
          <!-- Carousel wrapper -->
          <div class="relative h-56 overflow-hidden">
            {% for image in images  %}
              {% if image.id_propiedades.id == propiedad.id %}
                  <div class="hidden duration-700 ease-in-out" data-carousel-item>
                    <img src="{{ image.image.url }}" class="absolute block w-full sm:h-full sm:w-auto  -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
                  </div>
              {% endif %}
            {% endfor %}
            <!-- Slider controls -->
          <button type="button" class="absolute top-0 left-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-prev>
            <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
                <svg aria-hidden="true" class="w-6 h-6 text-white dark:text-gray-800" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path></svg>
                <span class="sr-only">Previous</span>
            </span>
          </button>
          <button type="button" class="absolute top-0 right-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-next>
            <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
              <svg aria-hidden="true" class="w-6 h-6 text-white dark:text-gray-800" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path></svg>
                <span class="sr-only">Next</span>
            </span>
          </button>
        </div>
      </div>
    </div>
    <!--Los IF de los -->
    <a href="propiedades/detalles/0/{{propiedad.id}}/{{propiedad.comuna.comuna.split|join:"-"}}-{{propiedad.direccion.split|join:"-"}}" class="c-card block bg-white shadow-md hover:shadow-xl rounded-lg overflow-hidden">  
      {% if propiedad.propiedad_bancaria == True %}
      <div class="">
        <div class="flex py-1 detalle-rentabilidad  rounded-md border-solid border-slate-100 min-w-sm gallery-item-detalle">
          <svg class="mx-4" height="18" width="18">
            <circle cx="9" cy="9" r="5" stroke="green" stroke-width="0" fill="green" />
          </svg>  
          <p class="text-sm">Propiedad Bancaria</p>
        </div>
      </div>
      {% endif %}
      {% if rentabilidades.0|accede_diccionario:propiedad.id > 0 %}
      <div class="">
        <div class="flex py-1 detalle-rentabilidad  rounded-md border-solid border-slate-100 min-w-sm gallery-item-detalle">
          <svg class="mx-4" height="18" width="18">
            <circle cx="9" cy="9" r="5" stroke="green" stroke-width="0" fill="green" />
          </svg>  
          <p class="text-sm">UF + {{rentabilidades.0|accede_diccionario:propiedad.id}} % Rent. Anual</p>
        </div>
      </div>
      {% endif %}
      {% if plusvalia.0|accede_diccionario:propiedad.id > 0 %}
      <div class="">
        <div class="flex py-1 detalle-rentabilidad  rounded-md border-solid border-slate-100 min-w-sm gallery-item-detalle">
          <svg class="mx-4" height="18" width="18">
            <circle cx="9" cy="9" r="5" stroke="green" stroke-width="0" fill="green" />
          </svg> 
          <p class="text-sm">{{plusvalia.0|accede_diccionario:propiedad.id}} % de plusvalía inmediata</p>
        </div>
      </div>
      {% endif %}    
      <div class="py-1 px-4">
        <p class="text-xs text-gray-400">Ofertado por Donetch & Cía.</p>
        <h3 class="mt-0 mb-2 text-2xl font-bold">{{propiedad.comuna.comuna|upper}}</h2>
      </div>
      <div class="p-2 border-t border-b text-xs text-gray-700">
        <div class="flex justify-between">
              <div> <span class="text-sm font-semibold">UF </span>&nbsp;<span class="font-bold text-3xl">{{propiedad.precio|numberFormat}}</span></div>
              <button type="submit" class="text-white right-2 bottom-2 bg-amber-700 hover:bg-amber-800 focus:ring-4 focus:outline-none focus:ring-amber-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-amber-600 dark:hover:bg-amber-700 dark:focus:ring-amber-800">Me interesa</button>
        </div>       
      </div>
    </a>
  </div>
    {% endif %}
  {% endfor %}
</div>

{% endblock content %}
{% block extra_footer %} {% endblock extra_footer %}
{% block scripts %}<script src="https://unpkg.com/flowbite@1.4.0/dist/flowbite.js"></script>


{% endblock scripts %}