{% extends 'base.html' %}
{% load static %}{% load utilidades %}
{% block extra_head %}<title>BESTOFF - Oportunidades Inmobiliarias para todos.</title>
<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v3.10.1/dist/alpine.min.js" defer></script>

{% endblock extra_head %}
{% block extra_navbar %} {% include 'componentes/navbar.html' %} {% endblock extra_navbar %}
{% block content %}

<!-- Container for demo purpose -->
<div class="container my-24 px-6 mx-auto">
  
    <!-- Section: Design Block -->
    <section class="mb-32 text-gray-800">
      <h1 class="text-3xl font-bold mb-12 text-center">¿Qué es Bestoff?</h1>
      <p class="text-gray-900 font-bold mb-12">
        En muy pocas palabras definimos Bestoff como una plataforma transaccional de subastas 
        permanentes para comprar oportunidad inmobiliarias
      </p>  


      <div class="grid lg:grid-cols-3 gap-6">
        <details class="col-md-12 mb-12">
          <summary class="font-bold mb-4">¿Qué es una "plataforma transaccional"?</summary>
          <p class="text-gray-500">
            Una plataforma transaccional es una aplicación web por la cual puedes comprar o vender. Los portales 
            inmobiliarios a los que estamos acostumbrados en Latinoamérica no son transaccionales, porque no puedes
            hacer una oferta o comprar directamente una propiedad. Para comprar un inmueble debes llamar a alguien,
            el dueño o un intermediario, para que, de toda la información necesaria, para luego hacer una oferta y 
            empezar la negociación.</p>
            <p class="text-gray-500">En Bestoff te saltas ese paso tan tedioso. Ponemos a tu disposición todos los antecedentes que necesitas 
            para tomar una decisión informada y hagas la mejor oferta.</p>
        </details>
        <details class="col-md-12 mb-12">
          <summary class="font-bold mb-4">¿Qué son las subastas permanetes?</summary>
          <p class="text-gray-500">
            Las subastas permanentes son remates sin tiempo definido de cierre. Es decir, puedes hacer una oferta en 
            cualquier momento, hasta que el vendedor decida aceptar una.
          </p>
        </details>
        <details class="col-md-12 mb-12">
          <summary class="font-bold mb-4">¿Puedo ofertar menos que el precio de Venta?</summary>
          <p class="text-gray-500">
            Si se puede ofertar menos que el precio en que se anuncia la venta. En Bestoff recomendamos no 
            ofertar menos que el 95% del precio de venta porque la probabilidad de ser aceptada es muy baja.
          </p>
        </details>
        <details class="col-md-12 mb-12">
          <summary class="font-bold mb-4">¿Quién puede hacer una oferta?</summary>
          <p class="text-gray-500">
            Por ahora, dejamos abierta la opción para que cualquiera pueda hacer una oferta. Sin embaro, cada vez que 
            hagas una oferta te contactaremos por teléfono para confirmar la seriedad de esta antes de 
            comunicarsela al vendedor.
          </p>
        </details>
        <details class="col-md-12 mb-12">
          <summary class="font-bold mb-4">¿Qué es una "propiedad bancaria"?</summary>
          <p class="text-gray-500">
            Una propiedad bancaria es un inmueble cuyo dueño es un banco. Generalmente vienen de créditos hipotecarios impagos. Estas propiedades ya fueron rematas y compradas por el banco y, por lo tanto, se venden sin hipotecas ni gravámenes de ningún tipo.
          </p>
        </details>
        <details class="col-md-12 mb-12">
          <summary class="font-bold mb-4">¿Cómo es el proceso para desocupar una propiedad ocupada?</summary>
          <p class="text-gray-500">
            Por lo general, las propiedades bancarias vienen ocupadas por sus antiguos dueños y los bancos vendedores no tienen contactos con ellos. Esto hace que el comprador tenga claro cuáles son los mecanismos para desocupar estas propiedades. Los más comunes son: </p>
            <p class="text-gray-500">1) iniciar un juicio precario contra el ocupante, que tiene un costo aproximado de 35 UF y un plazo de 8 meses. </p>
            <p class="text-gray-500">2) tomar contacto con el ocupante y ofrecerle dinero a cambio de la desocupación. Lo que puede ser más sencillo, barato y rápido que un juicio. Generalmente se negocian hasta 5 meses de arriendo de la propiedad a cambio de la desocupación.</p>
        </details>
      </div>
    </section>
    <!-- Section: Design Block -->
  
</div>
<!-- Container for demo purpose --> 

{% endblock content %}
{% block extra_footer %} {% endblock extra_footer %}
{% block scripts %}<script src="https://unpkg.com/flowbite@1.4.0/dist/flowbite.js"></script>

{% endblock scripts%}