 <!-- Modal Vender -->
 <div id="modal-component-containet-vender" class="hidden fixed min-h-full w-sm sm:min-w-full bg-gray-400 bg-opacity-50">
  <div class="modal-flex-container justify-center">
    <div id ="modal-container-vender" class="modal-container mr-5 sm:mx-auto max-w-sm bg-white mt-4 p-4 rounded-xl border-gray-400">
      <div class="modal-wrapper">
        <div class="modal-wrapper-flex">
          <div class="modal-content">
            <form name="form-Vender" method="post" action="{{ request.get_full_path }} ">
                {% csrf_token %}
                <div class="form-group mb-6">
                  {{form_contacto.monto}}
                </div>
                <div class="form-group mb-6">
                  {{form_contacto.nombre}}
                </div>
                <div class="form-group mb-6">
                  {{form_contacto.telefono}}
                </div>
                <div class="form-group mb-6">
                  {{form_contacto.mensaje}}
                </div>
              <div class="flex">
                <button href="javascript:void(0);" onclick="document.form-vender.submit();" class="w-1/2 mr-1 px-6 py-2.5 boton-busqueda-portada  rounded-l-lg w-full h-full text-white font-medium text-lg" name="enviar" value="vender">contáctenme</button>
                <button id="close-modal-vende" class="w-1/2 ml-1 px-6 py-2.5 boton-busqueda-portada  rounded-r-lg w-full h-full text-white font-medium text-lg">cancelar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!---->

<!--Modales Errores Formularios Vender-->
{%if form_contacto.errors %}
<div id='modal-error' class='block bg-red-500 max-w-4xl mx-auto rounded-xl px-5 py-4 bg-red-800/60 mt-7'>
  <div class="flex items-center justify-between">
    <h3 class="text-white text-xl sm:text-3xl"> &#128400;&#128400;Error al ingresar tus datos</h3>
    <button id="cerrar-modal-error" class="flex text-white">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#000000" viewBox="0 0 256 256">
        <rect width="50" height="50" fill="none"></rect>
        <line x1="200" y1="56" x2="56" y2="200" stroke="#ffffff" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"></line>
        <line x1="200" y1="200" x2="56" y2="56" stroke="#ffffff" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"></line>
      </svg>
    </button>
  </div>
  <div class="text-white">{{form_contacto.errors }}</div>
</div>
{%endif%}

{%if formulario_vender == '1'  %}
<div id='modal-error' class='block bg-green-500 max-w-6xl mx-auto rounded-xl px-5 py-4 bg-red-800/60 mt-7'>
  <div class="flex items-center justify-between">
    <h3 class="text-white text-xl sm:text-3xl text-justify"> &#128075; &#128075; ¡Gracias por enviar tus Datos! Nos pondremos en contacto a la brevedad.</h3>
    <button id="cerrar-modal-error" class="flex text-white">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#000000" viewBox="0 0 256 256">
        <rect width="50" height="50" fill="none"></rect>
        <line x1="200" y1="56" x2="56" y2="200" stroke="#ffffff" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"></line>
        <line x1="200" y1="200" x2="56" y2="56" stroke="#ffffff" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"></line>
      </svg>
    </button>
  </div>
</div>
{%endif%}

<script>
  const openButton_vende = document.querySelector('#open-modal-vende');
  const closeButton_vende = document.querySelector('#close-modal-vende');
  const carousel= document.querySelector('#controls-carousel');
  
  const modalContainerVender = document.querySelector('#modal-component-containet-vender');

  openButton_vende.addEventListener('click', () => {
    openModalVender();
  });

  closeButton_vende.addEventListener('click', () => {
    closeModalVender();
  });

  function cerrarFlash() {
    showAndHide(modalContainerVender, ['hidden'], ['block']);
  }

  function openModalVender() {
    showAndHide(modalContainerVender, ['block'], ['hidden']);
    showAndHide(mapa, ['hidden'], ['block']);
    showAndHide(carousel, ['hidden'], ['block']);
    
  }

  function closeModalVender() {
    showAndHide(modalContainerVender, ['hidden'], ['block']);
    showAndHide(carousel, ['block'], ['hidden']);
    showAndHide(mapa, ['block'], ['hidden']);
    
  }

  function showAndHide(element, classesToAdd, classesToRemove) {
    element.classList.add(...classesToAdd);
    element.classList.remove(...classesToRemove);
  }
</script>

{% if form_contacto.errors or formulario_vender == '1'   %}
<script>
  const modalError = document.querySelector('#modal-error');
  const closeButtonError = document.querySelector('#cerrar-modal-error');

  closeButtonError.addEventListener('click', () => {
    closeModalError();
  });

  function closeModalError() {
    showAndHide(modalError, ['hidden'], ['block']);
  }
  
  function showAndHide(element, classesToAdd, classesToRemove) {
    element.classList.add(...classesToAdd);
    element.classList.remove(...classesToRemove);
  }
</script>
{%endif%}