{% load static %}
<nav class="shadow dark:bg-gray-800 nav-orange">
    <div class="container px-6 py-4 mx-auto">
   
            <div class="flex items-center justify-between">
                <div>
                    <a  href="/">
                    <img src="{% static "imagenes/Logo_1.png" %}" class="h-12" alt="Bestoff Logo"></a>
                </div>
                <div class="flex">
                    <div class="mx-2">
                        <button id="open-modal-vende" class="flex text-white">
                            <p class="mx-1 font-semibold text-lg">Invertir</p>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24" fill="none">
                                <path d="M4 9L12 17L20 9" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </button>
                    </div>
                    <div class="mx-2">
                        <button id="open-modal-vende" class="flex text-white">
                            <p class="mx-1 font-semibold text-lg">Vender</p>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24" fill="none">
                                <path d="M4 9L12 17L20 9" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>

    </div>
</nav>