{% load tailwind_tags %}
<!DOCTYPE html> {% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    {% block title%} {% endblock title%}
    {% block extra_head %}  {% endblock extra_head %}
    {% tailwind_css %}
    <link rel="stylesheet" href="{% static 'css/estilos_general.css' %}" />
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://unpkg.com/flowbite@1.4.0/dist/flowbite.js"></script>
    <script src="{% static 'js/funciones.js' %}"></script>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
</head>
<body>
    <a href="https://wa.me/+56988097625?text=Hola,%20quisiera%20obtener%20más%20información" class="whatsapp-button" target="_blank">
        <img src="{% static 'imagenes/wsp.png' %}" alt="WhatsApp Button" />
      </a>
{% block extra_navbar%} {% endblock extra_navbar %}
{% block content %} {% endblock content %}
{% block extra_footer %} {% endblock extra_footer %}

{% include 'componentes/footer.html' %}

{% block scripts %} {% endblock scripts %}
</body>
</html>