{% extends 'base.html' %}
{% load static %}{% load utilidades %}
{% block extra_head %}<title>BESTOFF - Oportunidades Inmobiliarias para todos.</title> {% endblock extra_head %}
{% block extra_navbar %} {% include 'componentes/navbar.html' %} {% endblock extra_navbar %}
{% block content %}

<h2 class="text-2xl text-grey-800 text-center font-bold my-12 mx-auto">LOGIN</h2>
<div class="mt-6 mb-24 mx-2 w-4/12 mx-auto" >
    <form name="Formulario_Login" method="post" action="{% url 'acceso_login' %}">
        <div class="grid grid-cols-2 gap-2">
        {% csrf_token %}
            <div class="col">
                <div class="my-2">
                    <label for="password" class="mx-8 font-semibold text-center">Correo:</label>
                </div>
            </div>
            <div class="col">
                {{form.correo}}
            </div>
            <div class="col">
                <div class="my-2">
                   <label for="password" class="my-2 font-semibold text-center">Contraseña:</label>
                </div>
            </div>
            <div class="col">
                {{form.password}}
            </div>
        </div>
        <div class="rounded-lg my-10 px-10 py-4 bg-orange-600 mx-auto">
            <button type="button" class="bg-orange-600 text-white font-semibold" onclick="sendLogin();">Enviar</button>
        </div> 
    </form>
</div>

{% endblock content %}
{% block extra_footer %} {% endblock extra_footer %}
{% block scripts %} {% endblock scripts %}